lib/internal/Magento/Framework/Setup/Declaration/Schema/etc/constraints/constraint.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright 2018 Adobe
 * All Rights Reserved.
 */
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:include schemaLocation="urn:magento:framework:Setup/Declaration/Schema/etc/operations.xsd" />

    <xs:attributeGroup name="baseConstraint">
        <xs:attribute name="disabled" type="xs:boolean" />
        <xs:attribute name="referenceId" type="referenceIdType" use="required" />
    </xs:attributeGroup>
</xs:schema>
