app/code/Magento/Integration/etc/integration/integration_file.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright 2016 Adobe
 * All Rights Reserved.
 */
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="urn:magento:module:Magento_Integration:etc/integration/integration_base.xsd" />
    <xs:element name="config">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="integration" type="integrationType" maxOccurs="unbounded" minOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="integrationType">
        <xs:all>
            <xs:element name="email" type="emailType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="endpoint_url" type="urlType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="identity_link_url" type="urlType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="resources" type="resourcesType" minOccurs="0" maxOccurs="1"/>
        </xs:all>
        <xs:attribute name="name" type="integrationNameType" use="required"/>
    </xs:complexType>
</xs:schema>
